version: '3'
services:
  gateway.api:
    build:
      context: Gateway.Api
    ports:
      - "1010:80"

  product.microservice:
    build:
      context: Product.Microservice
    ports:
      - "2020:80"
        
  file-manager.microservice:
    build:
      context: FileManager.Microservice
    ports:
      - "2022:80"
    volumes:
      - image-volume:/app/images
        
volumes:
  image-volume: